 <div class="sidebar" data-color="orange_light">
                <!--
                              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                          -->
                <div class="logo">
                    <h4><a href="" class="simple-text logo-normal">
                            Nurture Software
                        </a></h4>
                </div>
                <div class="sidebar-wrapper" id="sidebar-wrapper">
                    <ul class="nav">
                        <li>
                            <a href="/login/dashboard">
                                <i class="material-icons" style="font-size: 25px;">dashboard</i>
                                <strong class="fnt">Dashboard</strong>
                            </a>
                        </li>

                        <li id="sub_menu" class="active">

                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">group</i>
                                <strong class="fnt">Members</strong>
                            </a>
                            <ul class="hid sub_col">

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails" class="ml-1" style="color: #ffffff;">Members</a>
                                </div>

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search" class="ml-1" style="color: #ffffff;">Members
                                        Dividend</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search" class="ml-1" style="color: #ffffff;">Members
                                        Share Details</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_add" class="ml-1" style="color: #ffffff;">Farm
                                        Machinery Details</a></div>

                                <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det" class="ml-1" style="color: #ffffff;">House
                                        Details</a></div>

                                <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search" class="ml-1" style="color: #ffffff;">KCC
                                        Details</a></div>

                            </ul>
                        </li>

                        <li>
                            <a href="/login/deposits">
                                <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                                <strong class="fnt">Deposits</strong>
                            </a>
                        </li>


                        <li>
                            <a href="/login/loans">
                                <i class="material-icons" style="font-size: 25px;">file_upload</i>
                                <strong class="fnt">Loans</strong>
                            </a>
                        </li>


                        <li id="sub_menu">
                            <a href="#">
                                <i class="material-icons" style="font-size: 25px;">account_balance</i>
                                <strong class="fnt">Bank</strong>
                            </a>
                            <ul class="hid mt-1 sub_col">

            <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search" style="color: #ffffff">Associated
                                        Bank</a></div>
                              
                             <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search"
                                            style="color: #ffffff">Associated Branch</a></div>

<div class="sub_mar">
               <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search" style="color: #ffffff">Associated Bank Account Master</a>
</div>

<div class="sub_mar">
               <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search" style="color: #ffffff">Associated Bank Cheque Book</a>
</div>

<div class="sub_mar">
               <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search" style="color: #ffffff">Associated Bank Account Type</a>
</div>

                            </ul>
                        </li>


                        <li>
                            <a href="/login/market">
                                <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                                <strong class="fnt">Market</strong>
                            </a>
                        </li>

                        <li>
                            <a href="/login/reports">
                                <i class="material-icons" style="font-size: 25px;">date_range</i>
                                <strong class="fnt">Reports</strong>
                            </a>
                        </li>



                        <li>

                            <a href="/login/payroll">
                                <i class="material-icons" style="font-size: 25px;">payment</i>
                                <strong class="fnt">Payroll</strong>
                            </a>



                        </li>
                        <li>
                            <a href="/login/hr">
                                <i class="material-icons" style="font-size: 25px;">account_box</i>
                                <strong class="fnt">HR</strong>
                            </a>
                        </li>


                        <li>

                            <a href="/login/user">
                                <i class="material-icons" style="font-size: 25px;">person</i>
                                <strong class="fnt">User</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>